$background: #ffffff;
$surface: #9e9a9a00;

$title: #0a0a0a;
$subtitle: #6a6868;
$text: #C8C8C8;
$link: #98A3AA;

$heading1: $subtitle;
$heading2: #999696;
$heading3: #c8c4c4;
$heading4: #d9d8d8;
$heading5: #dedcdc;

$layout-small: 768px;
$layout-medium: 1024px;

$font-h1: 3em;

@mixin headline($size, $color) {
  font-size: $size;
  color: $color;
}